<div>
  <div>
    <button type="button" class="close">&times;</button>
    <button type="button" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span>
    </button>
    <a href="{{bookmark.url}}" target="_blank"> bookmark.title </a>
  </div>
  <hr/>
  <!-- CREATING -->
  <!--<div ng-if="shouldShowCreating()">-->
  <div>
    <button type="button" class="btn btn-link">
      <span class="glyphicon glyphicon-plus"></span>
      Create Bookmark
    </button>
    <form class="create-form" role="form">
      <div class="form-group">
        <label for="newBookmarkTitle">Bookmark Title</label>
        <input type="text" class="form-control" id="newBookmarkTitle" placeholder="Enter title">
      </div>
      <div class="form-group">
        <label for="newBookmarkURL">Bookmark URL</label>
        <input type="text" class="form-control" id="newBookmarkURL" placeholder="Enter URL">
      </div>
      <button type="submit" class="btn btn-info btn-lg">Create</button>
      <button type="button" class="btn btn-default btn-lg pull-right">Cancel</button>
    </form>
  </div>
</div>
